.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 17px;
  background-color: rgb(31, 31, 31);
  padding: 15px;
  padding-right: 18px;
  margin: 15px;
  margin-left: 8px;
  border-radius: 10px;
  white-space: nowrap;
  width: fit-content;
  transition: transform 0.2s ease-in-out;
  transform-origin: left center;
}

h1 {
  margin: 0;
  margin-left: 4px;
  margin-bottom: 2px;
  letter-spacing: 3px;
  transition: transform 0.2s ease-in-out;
}

h1:hover {
  color: rgb(200, 200, 200);
  cursor: pointer;
  transform: scale(103%);
}

button {
  letter-spacing: 1px;
  padding: 7px 13px;
  font-size: 18px;
  cursor: pointer;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: rgb(31, 31, 31);
  transition: transform 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(220, 220, 220);
  transform: scale(104%);
}

button:active {
  background-color: rgb(200, 200, 200);
}

@media (max-width: 470px) {
  .header {
    transform: scale(80%);
    margin-bottom: -6px;
  }
}