.api-section {
  margin-bottom: 30px;
}

.api-url {
  display: flex;
  flex-direction: row;
  gap: 10px;
  word-break: break-all;
  align-items: center;
}

.api-method {
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  min-width: fit-content;
  height: 14px;
}

.api-summary {
  margin-top: 7px;
  font-size: 15px;
  color: rgb(182, 182, 182);
  font-weight: normal;
}

.api-parameters {
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  padding-left: 14px;
  border-left: 2px solid rgb(100, 100, 100);
  gap: 16px;
}

.param-name {
  text-transform: lowercase;
  font-size: 15px;
}

.param-description {
  font-size: 14px;
  color: rgb(172, 172, 172);
  margin-bottom: 6px;
  margin-top: 1px;
  font-weight: normal;
}

.param-type {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
}

.param-required {
  font-size: 12px;
  color: rgb(200, 100, 100);
}

.param-input-panel {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-top: 6px;
}

.docs-page input {
  background-color: rgb(61, 61, 61);
  border: rgb(153, 153, 153) solid 1px;
  border-radius: 5px;
  outline: none;
  color: white;
  padding: 5px 5px;
  font-size: 16px;
  max-width: 200px;
  min-width: 70px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.param-clear-button {
  background-color: rgb(102, 27, 27);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 4px 6px;
  padding-top: 5px;
  cursor: pointer;
  font-size: 14px;
}

.param-clear-button:hover {
  background-color: rgb(122, 47, 47);
}

.param-clear-button:active {
  background-color: rgb(142, 67, 67);
}

.execute-button {
  font-size: 16px;
  width: fit-content;
  background-color: rgb(40, 120, 40);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  margin-bottom: 3px;
  margin-top: 3px;
}

.execute-button:hover {
  background-color: rgb(60, 140, 60);
}

.endpoint-state {
  margin-top: 2px;
  font-size: 13px;
  color: rgb(131, 131, 131);
  font-weight: 100;
  margin-bottom: 2px;
  word-break: break-all;
}
