body {
  background-color: rgb(70, 70, 70);
  color: rgb(240, 240, 240);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

button {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2 {
  font-size: 18px;
  color: white;
  display: flex;
  background-color: rgb(31, 31, 31);
  padding: 15px;
  margin: 15px;
  margin-left: 50px;
  border-radius: 10px;
  min-width: 431px;
  max-width: 920px;
  letter-spacing: 1px;
}

h3 {
  font-size: 16px;
  color: white;
  display: flex;
  background-color: rgb(31, 31, 31);
  padding: 15px;
  margin: 15px;
  margin-left: 82px;
  border-radius: 10px;
  min-width: 399px;
  max-width: 888px;
  letter-spacing: 1px;
}

p {
  margin: 0px;
}