.stremio-section {
  margin-bottom: 30px;
}

.stremio-tag {
  width: fit-content;
  min-width: auto;
}

.stremio-tag-icon {
  margin-left: 6px;
  margin-top: 2px;
}

.stremio-panel-title {
  font-size: 20px;
}

.stremio-panel-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: normal;
}

.stremio-panel-content p {
  color: rgb(230, 230, 230);
}

.stremio-manifest-url-container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: start;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 2px;
}

.stremio-manifest-url-label {
  font-weight: bold;
  white-space: nowrap;
  word-break: normal;
  overflow-wrap: normal;
  color: white !important;
}

.stremio-manifest-url {
  color: rgb(44, 192, 101) !important;
  word-break: break-all;
}

.stremio-manifest-copy {
  font-size: 16px;
  margin-top: 2px;
  margin-left: 1px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.stremio-manifest-copy:hover {
  transform: scale(1.2);
}

.stremio-manifest-copy:active {
  transform: scale(0.8);
}

.stremio-catalog-count {
  font-weight: normal;
  margin-top: 14px;
  margin-left: 7px;
  font-size: 16px;
}

.stremio-catalog-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  column-gap: 10px;
  row-gap: 12px;
  margin-top: 10px;
  margin-left: 6px;
  margin-right: 6px;
}

.stremio-catalog-images img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.stremio-catalog-images img:hover {
  transform: scale(1.1);
}

.loading-icon {
  animation: none;
}

.loading-icon.loading {
  font-size: 18px;
  margin-left: 6px;
  margin-top: 2px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
