.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel-left {
  flex: 1 1 0;
  min-width: 0;
}

.panel-right {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.panel-expand {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.27s ease;
}

.button-expand {
  display: flex;
  background-color: rgb(50, 50, 50);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  margin-left: 8px;
}

.button-expand:hover {
  background-color: rgb(70, 70, 70);
}

.button-expand:active {
  background-color: rgb(90, 90, 90);
}

.icon-expand {
  transition: transform 0.27s ease-in-out;
}

.icon-expand.expanded {
  transform: rotate(180deg);
}
