h2 {
  font-size: 18px;
  color: white;
  display: flex;
  background-color: rgb(31, 31, 31);
  padding: 15px;
  margin: 15px;
  margin-left: 50px;
  border-radius: 10px;
  width: 50%;
  min-width: 431px;
  letter-spacing: 1px;
}

.note {
  min-width: auto;
  width: fit-content;
}

.icon {
  margin-left: 7px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  color: rgb(200, 200, 200);
  transform: scale(120%);
}
