.home-page h2 {
  font-weight: normal;
}

.note {
  min-width: auto;
  width: fit-content;
  font-weight: bold !important;
}

.icon {
  margin-left: 7px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  color: rgb(200, 200, 200);
  transform: scale(120%);
}
