name: Deploy Backend (Fly)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: superfly/flyctl-actions/setup-flyctl@master

    - name: Deploy Backend
      run: flyctl deploy --remote-only
      working-directory: ./MediaAPI.App/MediaAPI.Src
      env:
        FLY_API_TOKEN: ${{ secrets.FLY_DEPLOY_TOKEN }}
